@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

/*
font-family: 'Spartan', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: 'Spartan', sans-serif;
    background-color: hsl(222, 26%, 31%);
    color: white;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.theme-2 {
    background-color: hsl(0, 0%, 90%)
}

body.theme-3 {
    background-color: hsl(268, 75%, 9%)
}

main {
    height: 80%;
    margin: auto;
    width: 400px;
    min-width: 250px;
    min-height: 380px;
    max-height: 500px;
    padding: 25px;
    transition: all 0.3s ease-in-out
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 35px;
    transition: all 0.2s ease-in-out;
}

.logo span.theme-2 {
    color: black;
}

.logo span.theme-3 {
    color: hsl(52, 100%, 62%);
}

.toggle-and-numbers {
    width: 75px;
}

.toggle-numbers {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.toggle-numbers span {
    font-size: 11px;
    transition: all 0.2s ease-in-out;
}

.toggle-numbers span.theme-2 {
    color: black;
}

.toggle-numbers span.theme-3 {
    color: hsl(52, 100%, 62%);
}

.toggle-container {
    margin-top: 5px;
    width: 100%;
    height: 22px;
    border-radius: 30px;
    background-color: hsl(223, 31%, 20%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.toggle-container.theme-2 {
    background-color: hsl(0, 5%, 81%)
}

.toggle-container.theme-3 {
    background-color: hsl(268, 71%, 12%);
}

.toggle-1 .toggle-circle-1 {
    height: 13px;
    width: 13px;
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transform: scale(0);
}

.toggle-1 .toggle-circle-1.active {
    transform: scale(1);
}

.toggle-1 .toggle-circle-1.theme-3 {
    background-color: hsl(177, 92%, 70%);
}

.toggle-2 .toggle-circle-2 {
    height: 13px;
    width: 13px;
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.toggle-2 .toggle-circle-2.active {
    transform: scale(1);
}

.toggle-2 .toggle-circle-2.theme-3 {
    background-color: hsl(177, 92%, 70%);
}

.toggle-3 .toggle-circle-3 {
    height: 13px;
    width: 13px;
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.toggle-3 .toggle-circle-3.active {
    transform: scale(1);
}

.toggle-3 .toggle-circle-3.theme-3 {
    background-color: hsl(177, 92%, 70%);
}

.toggle-container::before {
    position: absolute;
    content: "THEME";
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    left: -70px;
    top: 6px;
    transition: all 0.2s ease-in-out;
}

.toggle-container.theme-2::before {
    color: black;
}

.toggle-container.theme-3::before {
    color: hsl(52, 100%, 62%);
}

.display {
    margin: 20px 0px;
    padding: 0px 15px;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(224, 36%, 15%);
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    overflow-x: auto;
}

.display.theme-2 {
    background-color: hsl(0, 0%, 93%);
    color: black;
}

.display.theme-3 {
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}

.calculator-buttons {
    height: 65%;
    width: 100%;
    background-color: hsl(223, 31%, 20%);
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    transition: all 0.2s ease-in-out;
    grid-template-areas: "btn-7 btn-8 btn-9 btn-Del"
                         "btn-4 btn-5 btn-6 btn-+"
                         "btn-1 btn-2 btn-3 btn--"
                         "btn-. btn-0 btn-/ btn-*"
                         "btn-reset btn-reset btn-equal btn-equal"
}

.calculator-buttons.theme-2 {
    background-color: hsl(0, 5%, 81%);
}

.calculator-buttons.theme-3 {
    background-color: hsl(268, 71%, 12%);
}

button {
    border-radius: 10px;
    color: hsl(221, 14%, 31%);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 1px 0px hsl(35, 11%, 61%);
    border: none;
    cursor: pointer;
}

button.theme-2 {
    box-shadow: 0px 4px 1px 0px hsl(35, 11%, 61%);
}

button.theme-3 {
    box-shadow: 0px 4px 1px 0px hsl(290, 70%, 36%);
    color:hsl(52, 100%, 62%);
    background-color: hsl(268, 47%, 21%);
}

.btn-7 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.btn-8 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.btn-9 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.btn-delete {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.btn-4 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.btn-5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.btn-6 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.btn-+ {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.btn-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.btn-2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.btn-3 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.btn-minus {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}

.btn-period {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.btn-0 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

.btn-division {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

.btn-multiply {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
}

.btn-reset {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}

.btn-equal {
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
    background-color: hsl(6, 63%, 50%);
    color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 4px 1px 0px hsl(6, 70%, 34%);
}

.btn-equal.theme-2 {
    box-shadow: 0px 4px 1px 0px hsl(25, 99%, 27%);
}

.btn-equal.theme-3 {
    box-shadow: 0px 4px 1px 0px hsl(177, 92%, 70%);
    color:hsl(222, 26%, 31%);
    background-color: hsl(176, 100%, 44%);
}

.dark-blue {
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: 0px 4px 1px 0px hsl(224, 28%, 35%);
}

.dark-blue.theme-2 {
    box-shadow: 0px 4px 1px 0px hsl(185, 58%, 25%);
}

.dark-blue.theme-3 {
    background-color: hsl(281, 89%, 26%);
    color: white;
    box-shadow: 0px 4px 1px 0px hsl(285, 91%, 52%);
}


@media only screen and (max-width: 900px) {
    main {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    main {
        width:65%;
    }
}

@media only screen and (max-width: 650px) {
    main {
        position: static;
        width: 100vw;
        max-height: none;
        height: 100vh;
    }   
}